/* Стили для меню */
.nav {
    display: flex;
    align-items: center;
}

.menu {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.25rem; /* 20px в rem */
}

/* Стили для каждого элемента меню */
.menu-item {
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease; /* Плавное увеличение */
}

/* Стили для ссылок внутри элементов меню */
.menu-item a {
    text-decoration: none; /* Убираем подчёркивание */
    color: #333; /* Цвет текста для светлой темы */
    font-size: 1.1rem;
    padding: 0.625rem 0.9375rem; /* 10px 15px в rem */
    border-radius: 0.3125rem; /* 5px в rem */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Плавные переходы */
    display: inline-block; /* Чтобы transform работал корректно */
}

/* Стили для ссылок при наведении */
.menu-item a:hover {
    background-color: #646cff; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
    transform: scale(1.1); /* Увеличение элемента на 10% */
}

/* Стили для темной темы */
.dark .menu-item a {
    color: #fff; /* Цвет текста для темной темы */
}

/* Стили для светлой темы */
.light .menu-item a {
    color: #333; /* Цвет текста для светлой темы */
}