.burger-menu {
    display: none; /* По умолчанию скрыт */
}

.burger-icon {
    font-size: 24px;
    cursor: pointer;
}

.burger-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }
}