.slider {
    position: relative;
    width: 100%;
    height: 60vh; /* Занимает всю высоту экрана */
    display: flex;
    align-items: center; /* Центрируем слайды по вертикали */
    justify-content: center; /* Центрируем слайды по горизонтали */
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease; /* Плавный переход */
    width: 100%; /* Ширина контейнера слайдов */
    position: relative; /* Для корректного позиционирования */
    z-index: 1; /* Слайды ниже точек */
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center; /* Центрируем содержимое слайда по вертикали */
    justify-content: center; /* Центрируем содержимое слайда по горизонтали */
}

.imageContainer {
    width: 80%; /* Ширина изображения (80% от ширины слайда) */
    max-width: 800px; /* Максимальная ширина изображения */
    height: 60vh; /* Высота изображения (60% от высоты экрана) */
    overflow: hidden; /* Обрезаем изображение, если оно больше контейнера */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
}

.image {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 100%; /* Занимает всю высоту контейнера */
    object-fit: cover; /* Сохраняет пропорции и обрезает изображение */
}

.caption {
    margin-top: 1.5rem;
    text-align: center;
    color: #333;
    margin-left: 2rem;
}

.caption h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.caption p {
    font-size: 1rem;
    color: #666;
}

.dots {
    position: absolute;
    bottom: 20px; /* Располагаем точки снизу */
    left: 50%;
    transform: translateX(-110%); /* Центрируем по горизонтали */
    display: flex;
    gap: 1.5rem; /* Расстояние между точками */
    z-index: 10; /* Убедимся, что точки поверх слайдов */
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255); /* Полупрозрачный чёрный */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень для контраста */
}

.dot.active {
    background-color: #646cff; /* Активная точка */
}

.dot:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Подсветка при наведении */
}